.mynavbar a{
    color: #5e35b1 !important;
}
.mycard{
    margin-top: 30px;
}
.auth-card{
    padding: 20px;
    max-width: 400px;
    text-align: center;
    margin: 10px auto;
}
.auth-card h2{
    color: #5e35b1;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #5e35b1 !important;
    box-shadow: 0 1px 0 0 #5e35b1 !important;
}
.sign-link a{
    color: #5e35b1;
    text-decoration: underline;
}

.post-card{
    padding: 20px;
    max-width: 500px;
    text-align: center;
    margin: 30px auto;
}
.post-card h2{
    color: #5e35b1;
}
.privacy-button{
    display: flex;
    justify-content: space-around;
}
[type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #5e35b1;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #5e35b1;
}

.profile{
    max-width: 550px;
    margin: 0px auto;
}
.profile-card{
    display: flex;
    justify-content: space-around;
    margin: 18px 0px;
    border-bottom: 1px solid #5e35b1;
}
.profile-pic{
    width: 160px;
    height: 160px;
    border-radius: 80px;
}
.profile-sub-info{
    display: flex;
    justify-content: space-between;
    width: 108%;
}
.profile-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.profile-gallery .profile-gallery-item{
    width: 30%;
}

.home-card{
    max-width: 500px;
    height: max-content;
    margin: 26px auto;
}
.home-card-heading{
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 10px;
    padding: 10px;
}
.home-card-heading img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #5e35b1;
    display: flex;
    align-items: center;
}
.home-card-title{
    margin: 0;
    margin-left: 15px;
    color: #5e35b1;
}