html{
    margin: 0;
    padding: 0;
}
.mynavbar a{
    color: #5e35b1 !important;
}
.sidenav-info{
    color: #5e35b1 !important;
}
.collection .collection-item {
    display: block;
    width: 100%;
}
/* Auth page style */
.mycard{
    margin-top: 30px;
}
.auth-card{
    padding: 20px;
    height: 500px;
    max-width: 400px;
    text-align: center;
    margin: 10px auto;
}
.auth-card h2{
    color: #5e35b1;
    font-family: 'Ruthie', cursive;
}
.auth-card-signin{
    padding: 20px;
    height: 350px;
    max-width: 400px;
    text-align: center;
    margin: 10px auto;
}
.auth-card-signin h2{
    color: #5e35b1;
    font-family: 'Ruthie', cursive;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #5e35b1 !important;
    box-shadow: 0 1px 0 0 #5e35b1 !important;
}
.input-field input[type=password]:focus {
    border-bottom: 1px solid #5e35b1 !important;
    box-shadow: 0 1px 0 0 #5e35b1 !important;
}
.valid{
    border-bottom: 1px solid #5e35b1 !important;
    box-shadow: 0 1px 0 0 #5e35b1 !important;
    color: #5e35b1 !important;
}
.sign-link a{
    color: #5e35b1;
    text-decoration: underline;
}
/* Post page style */
.post-card{
    padding: 20px;
    max-width: 450px;
    text-align: center;
    margin: 30px auto;
}
.post-card h2{
    color: #5e35b1;
    font-family: 'Ruthie', cursive;
}
.privacy-button{
    display: flex;
    justify-content: space-around;
}
[type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #5e35b1;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #5e35b1;
}
/* Profile page style */
.profile{
    max-width: 550px;
    margin: 0px auto;
}
.profile-card, .user-profile-card{
    margin: 18px auto;
}
.profile-card-plate{
    display: flex;
    justify-content: space-around;
}
.profile-pic{
    width: 140px;
    height: 140px;
    border-radius: 70px;
    border: 2px solid #5e35b1;
}
.profile-sub-info{
    display: flex;
    justify-content: space-between;
    width: 108%;
}
.user-profile-card{
    height: 210px;
}
.user-profile{
    margin: 0 auto;
    text-align: center;
}
.user-profile-sub-info{
    display: flex;
    justify-content: space-between;
    width: 108%;
}
.profile-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.profile-gallery-item{
    width: 30%;
    text-align: center;
}
.profile-gallery-item img{
    width: 100%;
}
.profile-lock{
    position: absolute !important;
    left: 10% !important;
    bottom: -20px !important;
}
.profile-delete{
    position: absolute !important;
    left: 42% !important;
    bottom: -20px !important;
    background-color: #e53935 !important;
    color: white;
}
.profile-lock i{
    color: #5e35b1 !important;
}
.file-path-wrapper{
    opacity: 0;
}
.rodal-dialog{
    max-width: 350px !important;
}
.search-icon{
    margin-left: 30px;
}
.logout-button{
    margin-left: 30px;
}
/* Edit Page Style */
.edit-form-buttons{
    display: flex;
    justify-content: space-between;
}
/* My post Style */
.my-post-lock{
    position: absolute !important;
    right: 24px !important;
    top: 20px !important;
}
.myBreadcrumb{
    margin-top: 20px;
}
/* Home Page Style */
.home-card{
    max-width: 500px;
    height: max-content;
    margin: 26px auto;
}
.home-card-heading{
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 10px;
    padding: 10px;
}
.home-card-heading img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #5e35b1;
    display: flex;
    align-items: center;
}
.home-card-title a{
    margin: 0;
    margin-left: 15px;
    color: #5e35b1;
}
input[type=text]:focus {
    border-bottom: 1px solid #5e35b1 !important;
    box-shadow: 0 1px 0 0 #5e35b1 !important;
}
.love-icon-plate{
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: #5e35b1;
}
.love-icon{
    color: #e53935 !important;
    cursor: pointer;
    font-size: 35px;
}
.love-icon-unlike{
    color: #5e35b1 !important;
    cursor: pointer;
    font-size: 35px;
}
.delete-icon{
    color: #e53935 !important;
    position: absolute !important;
    right: 24px !important;
    top: 20px !important;
    cursor: pointer;
}
.comment-icon{
    position: absolute;
    left: 31%;
    color: #5e35b1 !important;
    cursor: pointer;
    font-size: 35px;
    margin: 0;
}
.update-pic{
    width: 40px;
    height: 1px;
    top: -50px;
    left: 75px;
}
.add-post-plate{
    width: 200px;
    height: 35px;
    border: 2px solid #5e35b1;
    border-radius: 10px;
    margin: 10px auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5e35b1;
    font-weight: 600;
}
.add-post-plate a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5e35b1;
    width: 100%;
}
.comment-plate{
    display: flex;
    align-items: center;
}
.comment-plate-delete-icon{
    color: #e53935;
}
.priority-tag{
    padding: 2px 35px 2px 15px;
    text-align: center;
    border: 1px solid #D4AF37;
    border-radius: 3px;
    color: #D4AF37;
    background-color: #EEE8AA;
}
.link-priority-tag{
    position: absolute;
}
.priority-tag a{
    color: #D4AF37;
}
/* Admin panel */
.admin-user-plate a{
    color: #5e35b1;
}
.admin-user-title a{
    color: #5e35b1;
}
.admin-user-priority{
    padding: 3px 7px;
    border: 1px solid #5e35b1;
    border-radius: 2px;
    background-color: #fafafa;
}
.owner-badge{
    position: relative;
    padding: 8px 15px;
    margin: 10px auto;
    margin-top: 15px;
    text-align: center;
    border: 1px solid #D4AF37;
    border-radius: 3px;
    color: #D4AF37;
    background-color: #EEE8AA;
}
@media screen and (max-device-width: 480px) and (orientation: portrait){
    .search-icon{
        margin-left: 30px;
    }
    .auth-card{
        height: 480px;
    }
    .profile-card{
        height: 450px;
    }
    .profile-card-plate{
        display: grid;
    }
    .profile-pic-plate, .profile-info{
        margin: 0 auto;
    }
    .profile-info{
        text-align: center;
    }
    .profile-sub-info{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }
    .change-password-button{
        margin: 15px 0 15px 0;
    }
    .change-password-button button{
        width: 90%;
    }
    .upload-pic-button{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;
    }
    .user-profile-card{
        height: 400px;
    }
    .user-profile{
        margin: 0 auto;
        text-align: center;
    }
    .user-profile-sub-info{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    .comment-icon{
        position: absolute;
        left: 31%;
        color: #5e35b1 !important;
        cursor: pointer;
        font-size: 35px;
        margin: 0;
    }
    #toast-container {
        top: 50% !important;
        right: 50% !important;
        transform: translateX(8.5%) translateY(5%) !important;
    }
}
/* Materialize Style */
#toast-container{
    top: 30px !important;
    right: 30px !important;
    left: auto !important;
    text-align: center;
}
/* Loader */
.loader{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.loader-image{
    height: 6rem;
    width: 6rem;
}
/* Not found page */
.box-layout{
    background: url('/bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.box-layout-box{
    background: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
    text-align: center;
    width: 22rem;
    padding: 3.2rem 1.6rem;
}
.box-layout-title{
    margin: 0 0 0.8rem 0;
    line-height: 1;
}