.mynavbar a{
    color: #5e35b1 !important;
}
.sidenav-info{
    color: #5e35b1 !important;
}
.collection .collection-item {
    display: block;
    width: 100%;
}
/* Auth page style */
.mycard{
    margin-top: 30px;
}
.auth-card{
    padding: 20px;
    height: 500px;
    max-width: 400px;
    text-align: center;
    margin: 10px auto;
}
.auth-card h2{
    color: #5e35b1;
}
.auth-card-signin{
    padding: 20px;
    height: 350px;
    max-width: 400px;
    text-align: center;
    margin: 10px auto;
}
.auth-card-signin h2{
    color: #5e35b1;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #5e35b1 !important;
    box-shadow: 0 1px 0 0 #5e35b1 !important;
}
.input-field input[type=password]:focus {
    border-bottom: 1px solid #5e35b1 !important;
    box-shadow: 0 1px 0 0 #5e35b1 !important;
}
.valid{
    border-bottom: 1px solid #5e35b1 !important;
    box-shadow: 0 1px 0 0 #5e35b1 !important;
    color: #5e35b1 !important;
}
.sign-link a{
    color: #5e35b1;
    text-decoration: underline;
}
/* Post page style */
.post-card{
    padding: 20px;
    max-width: 450px;
    text-align: center;
    margin: 30px auto;
}
.post-card h2{
    color: #5e35b1;
}
.privacy-button{
    display: flex;
    justify-content: space-around;
}
[type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #5e35b1;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #5e35b1;
}
/* Profile page style */
.profile{
    max-width: 550px;
    margin: 0px auto;
}
.profile-card{
    margin: 18px auto;
}
.profile-card-plate{
    display: flex;
    justify-content: space-around;
}
.profile-pic{
    width: 140px;
    height: 140px;
    border-radius: 70px;
}
.profile-sub-info{
    display: flex;
    justify-content: space-between;
    width: 108%;
}
.profile-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.profile-gallery-item{
    width: 30%;
    text-align: center;
}
.profile-gallery-item img{
    width: 100%;
}
.profile-lock{
    position: absolute !important;
    left: 10% !important;
    bottom: -20px !important;
}
.profile-delete{
    position: absolute !important;
    left: 42% !important;
    bottom: -20px !important;
    background-color: #e53935 !important;
    color: white;
}
.profile-lock i{
    color: #5e35b1 !important;
}
.file-path-wrapper{
    opacity: 0;
}
.rodal-dialog{
    max-width: 350px !important;
}
@media screen and (max-device-width: 480px) and (orientation: portrait){
    .auth-card{
        height: 450px;
    }
    .profile-card{
        height: 400px;
    }
    .profile-pic-plate{
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%, -50%);
    }
    .profile-info{
        position: absolute;
        left: 48%;
        top: 53%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .user-profile{
        top: 58%;
    }
    .file-upload{
        position: absolute;
        left: 52%;
        top: 67%;
        transform: translate(-50%, -50%);
    }
}
.logout-button{
    margin-left: 30px;
}
/* Edit Page Style */
.edit-form-buttons{
    display: flex;
    justify-content: space-between;
}
/* My post Style */
.my-post-lock{
    position: absolute !important;
    right: 24px !important;
    top: 20px !important;
}
.myBreadcrumb{
    margin-top: 20px;
}
/* Home Page Style */
.home-card{
    max-width: 500px;
    height: max-content;
    margin: 26px auto;
}
.home-card-heading{
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 10px;
    padding: 10px;
}
.home-card-heading img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #5e35b1;
    display: flex;
    align-items: center;
}
.home-card-title a{
    margin: 0;
    margin-left: 15px;
    color: #5e35b1;
}
input[type=text]:focus {
    border-bottom: 1px solid #5e35b1 !important;
    box-shadow: 0 1px 0 0 #5e35b1 !important;
}
.love-icon{
    color: #e53935 !important;
    cursor: pointer;
    font-size: 35px;
}
.love-icon-unlike{
    cursor: pointer;
    font-size: 35px;
}
.delete-icon{
    color: #e53935 !important;
    position: absolute !important;
    right: 24px !important;
    top: 20px !important;
    cursor: pointer;
}
/* Materialize Style */
#toast-container{
    top: 30px !important;
    right: 30px !important;
    left: auto !important;
    text-align: center;
}